body {
  text-align: center;
  line-height: 2em;
}

.container {
  width: 80%;
  padding-top: 40px;
}

.content {
  text-align: left;
  line-height: 1.4em;
}

.text {
  padding-left: 40px;
}

.title-head {
  position: relative;
  left: -25px;
  font-weight: bold;
  line-height: 2em;
}

.edu-timerange {
  padding-left: 20px;
  font-style: italic;
  line-height: 2em;
}

.timerange {
  padding-left: 20px;
  font-style: italic;
  line-height: 2em;
}

.updated {
  font-style: italic;
  font-size: 14px;
  padding-bottom: 20px;
}

.print-only {
  display: none;
}

@media print {
  h3 {
    line-height: 1em;
  }

  body {
    text-align: center;
    line-height: 2em;
    font-family: 'EB Garamond', serif;
  }

  .container {
    width: 95%;
  }

  .content {
    text-align: left;
    line-height: 1em;
  }

  .text {
    padding-left: 40px;
  }

  .title-head {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4em;
  }

  .timerange {
    float: right;
    font-style: italic;
    line-height: 1.4em;
  }

  .updated {
    font-style: italic;
    font-size: 10px;
  }

  a[href]:after {
    display: none;
  }

  .print-only {
    display: inline;
  }

  strong {
    font-weight: normal;
    font-style: italic;
  }
}
